:root{
    --color-azul: #1a73e8;
    --color-negro: #202124;
    --color-blanco: #ffffff;
    --color-claro: #ededed;
    --color-gris: #b4b4b4;

    --fuente-principal: Arial, Helvetica, sans-serif;

}

body{
    font-family: var(--fuente-principal);
    color: var(--color-azul);
}

header{
    overflow: hidden;
}

header nav{
    float: right;
    margin-right: 30px;
    padding: 10px 0;
}

nav a{
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 13px;
    vertical-align: middle;
}

nav .nav-link {
    color: var(--color-negro);
}

nav .nav-link:hover{
    text-decoration: underline;
}

nav .nav-apps{
    padding: 5px;
    border-radius: 50%;
}

nav .nav-apps:hover
{
    background-color: var(--color-claro);
}

nav .nav-apps img{
    display: inline-block;
    vertical-align: middle;
}

nav .nav-loggin{
    background-color: var(--color-azul);
    color: var(--color-blanco);
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 100px;
}

nav .nav-loggin:hover{
    box-shadow: 0 0 3px var(--color-azul);
}


