:root{
    --color-azul: #1a73e8;
    --color-negro: #202124;
    --color-blanco: #ffffff;
    --color-claro: #ededed;
    --color-gris: #b4b4b4;

    --fuente-principal: Arial, Helvetica, sans-serif;

}

body{
    font-family: var(--fuente-principal);
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: relative;
}

header{
    overflow: hidden;
}

header nav{
    float: right;
    margin-right: 0px;
    padding: 10px 0;
}

nav a{
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 13px;
    vertical-align: middle;
}

nav .nav-link {
    color: var(--color-negro);
}

nav .nav-link:hover{
    text-decoration: underline;
}

nav .nav-apps{
    padding: 5px;
    border-radius: 50%;
}

nav .nav-apps:hover
{
    background-color: var(--color-claro);
}

nav .nav-apps img{
    display: inline-block;
    vertical-align: middle;
}

nav .nav-loggin{
    background-color: var(--color-azul);
    color: var(--color-blanco);
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 100px;
}

nav .nav-loggin:hover{
    box-shadow: 0 0 3px var(--color-azul);
}


/*    Estilos de main
------------------------------------------*/

main{
    width: 600px;
    height: 400px;
    position: absolute;
    inset: 0;
    margin: auto;
    text-align: center;
}

main .buscador-bar .label-buscador{
    display: block;
    border: 1px solid var(--color-gris);
    padding: 10px 15px;
    border-radius: 100px;
    width: 584px;
    overflow: hidden;
}

main .buscador-bar .label-buscador:hover{
    box-shadow: 0 0 3px var(--color-gris);
}
main .buscador-bar .label-buscador img{
    vertical-align: middle;
}

.label-buscador, .icon-buscar, .label-buscador input{
    
    margin-right: 10px;
    vertical-align: middle;
}

.label-buscador a{
    float: right;
}

.label-buscador input{
    font-size: 16px;
    width: 80%;
    border: none;
}

.label-buscador input:focus{
    outline: none;
}

/*   Estilos de Botones
------------------------------------------*/
.Botones{
    margin-top: 30px;

}

.Botones button{
    all:unset;
    padding: 10px 20px;
    font-size: 14px;
    background-color: var(--color-claro);
    cursor: pointer;
    border-radius: 5px;
}

.Botones button:hover{
    outline: 1px solid var(--color-gris);
}


.Botones p{
    font-size: 14px;
    color: var(--color-negro);
}



/*   Estilos de footer
------------------------------------------*/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-claro);
    padding: 20px 0;
}
footer .Pais{
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-gris);
}

.footer-links{
    padding: 0 20px;
    overflow: hidden;
}


.footer-links ul{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.footer-links ul:first-child{
    float: left;
}

.footer-links ul:last-child{
    float: right;
}

.footer-links ul li{
    display: inline-block;
    margin-right: 20px;
}

.footer-links ul a {
    text-decoration: none;
    color: var(--color-negro);
    font-size: 14px;
}

.footer-links ul a:hover{
    text-decoration: underline;
}